


.input {
  background-color: #c7ccca;
  border: none;
  width: 80%;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
}


.button {
  background-color: rgb(92, 139, 151);
  border: none;
  border-radius: 10px;
}

.submit {
  margin-left: 74.5%;
  margin-top: 10px;
}